h1{
    color: deeppink;
}
img{
    width: 180px;
    height: 180px;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aqua;
}
a{
    text-decoration: none;
    color: brown;
}